
<div class="header-control-bar">
  <button type="button" class="btn btn-primary forms">
    <% if current_page?(forms_path) %>
      <%= link_to "back", root_path %>
    <% else %>
      <%= link_to "forms", forms_path %>
    <% end %>
  </button>
  <button type="button" class="btn btn-primary forum">
    <%= link_to "forum" %>
  </button>
  <button type="button" class="btn btn-primary terminology">
    <%= link_to "terminology" %>
  </button>
  <button type="button" class="btn btn-primary payment">
    <%= link_to "payment" %>
  </button>
</div>
