
<div class="header-control-bar">
  <% if current_page?(swim_forms_path) %>
    <%= link_to "home", root_path, class: "btn btn-primary forms" %>
  <% else %>
    <%= link_to "forms", swim_forms_path, class: "btn btn-primary forms" %>
  <% end %>

  <%= link_to "terminology", class: "btn btn-primary terminology" %>
  <%= link_to "forum", class: "btn btn-primary forum" %>
  <%= link_to "payment", class: "btn btn-primary payment" %>
</div>
