<div class="header-control-bar">
  <% if current_page?(root_url) %>
      <%= link_to "about", welcome_about_path, class: "btn btn-primary about" %>
      <%= link_to "coaches", welcome_coaches_path, class: "btn btn-primary coaches" %>

  <% elsif current_page?(welcome_about_path) %>
    <%= link_to "home", root_url, class: "btn btn-primary home" %>
    <%= link_to "coaches", welcome_coaches_path, class: "btn btn-primary coaches"%>

  <% elsif current_page?(welcome_coaches_path) %>
    <%= link_to "about", welcome_about_path, class: "btn btn-primary about" %>
    <%= link_to "home", root_url, class: "btn btn-primary home" %>
  <% end %>
</div>
